<ul>
  <li>
    <label>Gender</label> {{model.gender}}
  </li>
  <li>
    <label>Age</label> {{model.age}}
  </li>
  <li>
    <label>Weight (kg)</label> {{model.weightKg}}
  </li>
  <li>
    <label>Blood Volume (dl)</label> {{model.bloodVolumeDl}}
  </li>
  <li>
    <label>Target HgB</label> {{model.targetHgB}}
  </li>

</ul>
