<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>HgB Level</th>
      <th>Transfused HgB</th>
      <th>Endogenous HgB</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.measurements as |measurement index|}}
      <tr>
        <td>{{index}}</td>
        <td>{{moment-format measurement.date "MMM DD YYYY"}}</td>
        <td>{{measurement.amount}}</td>
        <td>{{round measurement.transfusedAmount}}</td>
        <td>{{round measurement.endogenousAmount}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
